#game {
    width: 300px;   
    background-color: rgb(55, 60, 97); 
    margin: 200px auto;  
    border-radius: 4px;
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    text-align: center;
  }

#input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    word-spacing: 2px;
    color: #000000;
}

#guessButton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #FFFFFF;
}

.col {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
} 

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}